// myer's reset css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// my style start from here
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}



body {
  height: 100vh;
  background-color: #121212;
  line-height: 1.2;
  padding-top: 30px;
  @media (max-width: 415px) {
    padding-top: 0;
  }
  main {
    min-width: 320px;
    max-width: 414px;
    padding: 8px;
    background-color: white;
    margin: auto;
  }
  .my-name {
    font-size: 36px;
  }
  sub {
    vertical-align: sub;
    font-size: smaller;
    margin-left: 2px;
  }
  hr {
    border: none;
    background-color: black;
    width: 100%;
    margin: 2px 0;
    &.normal {
      height: 1px;
    }
    &.bold {
      height: 8px;
    }
    &.bolder {
      height: 15px;
    }
  }
  a {
    color: black;
  }
  .skill-set {
    line-height: 1.5;
    .skill-label {
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #000;
      .skill-label-name {
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
      }
      .skill-label-percentage {
        font-size: 16px;
        font-weight: bold;
      }
    }
    // nested skill
    .skill-set {
      padding-left: 15px;
      .skill-label-name {
        font-style: normal;
        font-size: 12px;
        font-weight: normal;
      }
      .skill-label-percentage {
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}

[class^="section-"] {
  font-size: 12px;
  .section-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
  }
}

.section-info .section-content {
  display: flex;
  justify-content: space-between;
}

.section-experience {
  .section-experience-stage {
    font-size: 14px;
    line-height: 1.4;
    display: flex;
    sub {
      flex: 1;
      margin-top: 5px;
      font-size: 10px;
    }
  }
  ul {
    font-size: 12px;
    padding-left: 15px;
  }
}

.section-works {
  ul li {
    display: inline-block;
    &:not(:first-child) {
      margin-right: 6px;
    }
  }
}